/* font-family: 'Inika', serif;
font-family: 'Inter', sans-serif; */

*{
    font-family: 'Inika', serif;
}

html {
    scroll-behavior: smooth; 
  }

body{
    width: 1440px;
    margin: auto;
}


.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.header {
    height: 134px;
    background-color: #EDF2EC;
    justify-content: right;  
    position: relative;
}

.header span{
    position: absolute;
width: 58.13px;
height: 17px;
left: 132.05px;
top: 56.04px;
font-family: 'Inika';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;

color: #000000;
}

.logo1{
    position: absolute;
width: 9.92px;
height: 17.28px;
left: 111px;
top: 54.66px;
}

.logo{  
position: absolute;
width: 19px;
height: 20px;
left: 112px;
top: 52px;
}

.nav-header{
    display: flex;
    padding-right: 109px;
}
 
.nav-list{
    display:flex;
    list-style: none;
}

.nav-link{
    text-decoration: none;
font-weight: 400;
font-size: 16px;
line-height: 50px;
color: #010201;
margin-left: 46px;
}

.nav-link:hover {
    color: #E06733;
    font-weight: 700;
}

.section{
    padding-right: 109px;
    padding-left: 109px;
    background-color: #EDF2EC;
    display: flex;
    flex-wrap: wrap;
}

.section:nth-child(2n){
    background-color: #fff;
}

.leaf-welcome {
    display: flex;
    width: 448.8px;
    height: 407.36px;
}


#welcome{
    display: flex;
    justify-content: right;
    height: 532px;
}

.welcome-wrapper{
    width: 1222px;
height: 407px;
display: flex;
justify-content: space-between;
}

.welcome-text{
    width: 549px;
height: 340px;
}

.welcome-text p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    margin: 0;
    padding-bottom: 48px;
    
}

.welcome-title{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 50px;
color: #717171;
padding-bottom: 42px;
margin: 0;
}

.welcome-title span{
    font-family: inherit;
   color: #499A18;
}

.welcome-button{
    font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
color: #000000;
width: 158px;
height: 44px;
border: 2px solid #E06733;
border-radius: 10px;
}

.welcome-button:hover {
    background-color: #E06733;
    cursor: pointer;
    color: #FFFFFF;
}

#about{
align-items: center;
justify-content: space-between;
}

.about-text{
    width: 600px;
}
.about-text p{
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

.about-title{
    font-size: 40px;
    line-height: 52px;  
    color: #499A18;
}

.about-title span {
    color:#E06733;
}


#service{
    height: 1300px;
}

.service-title{
    font-style: normal;
font-weight: 400;
    font-size: 40px;
line-height: 52px;
color: #499A18;
margin: 0;
padding-top: 40px;
width: 306px;
height: 94px;
}

.service-button{
    box-sizing: border-box;
width: 161px;
height: 50px;
border: 1px solid #E06733;
border-radius: 5px;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
}

.service-buttons-container {
    margin-top: 69px;
    display: flex;
    justify-content: space-between;
    width: 559px;
height: 50px;
padding-left: 142px;
}

.service-button:hover{
    background-color: #E06733;
    color: #FFFFFF;
    cursor: pointer;
}

.cards-container{
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
}

.card img{
    width: 329px;
    height: 350px;
    border-radius: 20px 20px 0px 0px;
}

.card-title{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
text-align: center;
color: #E06733;
}

.card-text{
box-sizing: border-box;
width: 330px;
height: 100px;
border: 1px solid #E3E1D5;
border-radius: 0px 0px 20px 20px;
}

.card-text p{
    font-size: 16px;
line-height: 20px;
color: #717171;
text-align: center;
}

#prices{
    height: 560px;
    padding-top: 40px;
    position: relative;
}

.prices-wrapper {
    width: 1222px;
height: 405px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.prices-title{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
color: black;
margin: 0;
}

.prices-title span{
    color: #499A18;
    font-family: inherit;
}

.prices-container{
    width: 332px;
height: 391.01px;
}

.prices-contact-container{
    width: 452px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.prices-contact-container h2 {
    line-height: 50px;
    text-align: right;
}

.leaf-prices{
    width: 152px;
    height: 175px;
}

.prices-check-container{
    margin-top: 60px;
    width: 332px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 34px 41px 34px 41px;
   align-items: center;
height: 282px;
border: 1px solid #E3E1D5;
border-radius: 20px;
}

.prices-check{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
color: #000000;
width: 250px;
height: 50px;
background: #EDF2EC;
border-radius: 20px;
}

input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

.prices-button{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #E06733;
    width: 162px;
height: 50px;
border: 1px solid #E06733;
border-radius: 5px; 
background-color: #FFFFFF ;  
margin-bottom: 39px;
margin-top: 38px;
}

.prices-button:hover {
    background-color: #E06733;
    color: #FFFFFF;
    cursor: pointer;
}



.contacts-title {
    font-weight: 700;
font-size: 40px;
line-height: 52px;
color: #499A18;
}

.contacts-img {
    width: 400px;
height: 496.99px;
}

.contacts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.select-city-container {
    display: flex;
    margin-top: 148px;
}

select {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
margin-left: 20px;
    letter-spacing: 0.05em;
    border: none;
    color: #717171;
height: 50px;
width: 450px;

background: #D6E7D2;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px;
}

.footer{
    height: 130px;
    align-items: center;
    justify-content: space-between;
    padding-left: 109px;
    padding-right: 109px;
}


.footer span {
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 50px;
color: #000000;
}

.footer img {
    padding: 15px
}


.link{
    text-decoration: none;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 50px;
color: #000000;
}