/* font-family: 'Inika', serif;
font-family: 'Inter', sans-serif; */

* {
  font-family: "Inika", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.header {
  height: 134px;
  background-color: #edf2ec;
}

.header-wrapper {
  width: 1220px;
  height: 50px;
  margin: 42px 109px;
  justify-content: space-between;
  align-items: flex-start;
}
.logo-wrapper {
  height: 50px;
  align-items: center;
}

.logo-wrapper span {
  width: 58.13px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  align-items: center;
}

.logo {
  width: 20px;
  height: 20px;
}

.nav-list {
  width: 452px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  text-decoration: none;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  color: #010201;
}

.nav-link:hover {
  color: #e06733;
  font-weight: 700;
}

.section {
  background-color: #edf2ec;
  display: flex;
  flex-wrap: wrap;
}

.section:nth-child(2n) {
  background-color: #fff;
}

.leaf-welcome {
  width: 448.8px;
  height: 407.36px;
}

#welcome {
  display: flex;
  justify-content: right;
  height: 532px;
}

.welcome-wrapper {
  width: 1222px;
  height: 407px;
  justify-content: space-between;
  margin: 62px 109px;
}

.welcome-text {
  width: 549px;
  height: 340px;
  padding-top: 36px;
}

.welcome-text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
  margin: 0;
  padding-bottom: 48px;
}

.welcome-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  padding-bottom: 42px;
  margin: 0;
  letter-spacing: 0.015em;
}

.welcome-title span {
  font-family: inherit;
  color: #499a18;
}

.welcome-button {
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000000;
  width: 158px;
  height: 44px;
  border: 2px solid #e06733;
  border-radius: 10px;
}

.welcome-button:hover {
  background-color: #e06733;
  cursor: pointer;
  color: #ffffff;
}

#about {
  height: 666px;
}

.about-wrapper {
  width: 1222px;
  height: 479px;
  align-items: center;
  justify-content: space-between;
  padding: 93px 109px;
}

.about-text {
  width: 605px;
  height: 350px;
}
.about-text p {
  font-size: 20px;
  line-height: 30px;
  color: #636060;
  margin: 40px 0;
}

.about-title {
  width: 463px;
  font-family: "Inika";
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
  margin: 0;
}

.about-title span {
  color: #e06733;
}

#service {
  height: 1300px;
}

.service-wrapper {
  width: 1007px;
  height: 94px;
  margin: 40px 324px 40px 109px;
}

.service-title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
  margin: 0;
  width: 306px;
  height: 94px;
}

.service-button {
  box-sizing: border-box;
  width: 161px;
  height: 50px;
  border: 1px solid #e06733;
  border-radius: 5px;
  font-size: 20px;
  line-height: 26px;
  color: #e06733;
}

.service-buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 29px;
  width: 559px;
  height: 50px;
  padding-left: 142px;
}

.service-button:hover {
  background-color: #e06733;
  color: #ffffff;
  cursor: pointer;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1222px;
  height: 955px;
  margin: 50px 109px 121px 109px;
}

.card img {
  width: 329px;
  height: 350px;
}

.card-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #e06733;
  margin: 0px;
  padding-top: 8px;
}

.card {
  width: 330px;
  height: 450px;
  margin-bottom: 55px;
}
.card-text {
  width: 330px;
  height: 100px;
  box-sizing: border-box;
  border: 1px solid #e3e1d5;
  border-radius: 0px 0px 20px 20px;
  border-top: none;
}

.card-text p {
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  text-align: center;
}

#prices {
  height: 560px;
}

.prices-wrapper {
  width: 1222px;
  height: 405px;
  justify-content: space-between;
  margin: 40px 109px 115px 109px;
}

.prices-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: black;
  margin: 0;
  letter-spacing: 0.015em;
}

.prices-title span {
  color: #499a18;
  font-family: inherit;
}

.prices-container {
  width: 332px;
  height: 391.01px;
}

.prices-contact-container {
  width: 452px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.prices-contact-container h3 {
  line-height: 50px;
  text-align: right;
}

.prices-check-container {
  margin-top: 60px;
  width: 332px;
  height: 281px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.prices-check-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 34px 0;
}

.prices-check {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  width: 250px;
  height: 50px;
  background: #edf2ec;
  border-radius: 20px;
  margin-bottom: 34px;
}

input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.prices-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #e06733;
  width: 162px;
  height: 50px;
  border: 1px solid #e06733;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 39px;
  margin-top: 38px;
}

.prices-button:hover {
  background-color: #e06733;
  color: #ffffff;
  cursor: pointer;
}

.leaf-prices {
  width: 152px;
  height: 175px;
}

#contacts {
  height: 550px;
}

.contacts-wrapper {
  width: 1222px;
  justify-content: space-between;
  margin: 53px 109px 0 109px;
}

.contacts-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
  margin-top: 5px;
  padding-left: 60px;
}

.contacts-img {
  width: 400px;
  height: 495px;
}

.select-city-container {
  margin-top: 94px;
}

select {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  margin-left: 20px;
  letter-spacing: 0.05em;
  border: none;
  color: #717171;
  background: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  height: 50px;
  width: 450px;
  padding: 0 20px;
}

.footer {
  height: 130px;
}

.footer-wrapper {
  width: 1222px;
  height: 50px;
  margin: 40px 109px;
  justify-content: space-between;
  align-items: center;
}

.footer span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.github {
  width: 170px;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  width: 188px;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-logo {
  padding: 0;
  fill: #000000;
}

.social-logo:hover {
  fill: #e06733;
}

.footer-link {
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.footer-link:hover {
  color: #e06733;
  font-weight: 700;
}
